<div class="footer">
			<div class="main-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-8 col-xs-12">
							<div class="footer-box">
								<h2 class="title24 white">About Us</h2>
								<div class="about-footer">
									<a href="#"><img src="images/home/home1/about.png" alt="" /></a>
									<p class="desc silver">Our products are freshly harvested, washed ready for box and finally <span class="color">[...]</span></p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-12">
							<div class="footer-box">
								<h2 class="title24 white">Information</h2>
								<ul class="list-none menu-footer">
									<li><a href="#" class="silver">New Products</a></li>
									<li><a href="#" class="silver">Top Sellers</a></li>
									<li><a href="#" class="silver">Our Blog</a></li>
									<li><a href="#" class="silver">About Our Shop</a></li>
									<li><a href="#" class="silver">About Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="footer-box">
								<h2 class="title24 white">Instagram</h2>
								<div class="list-instagram">
									<a href="#"><img class="grow" src="images/home/home1/in1.png" alt=""></a>
									<a href="#"><img class="grow" src="images/home/home1/in2.png" alt=""></a>
									<a href="#"><img class="grow" src="images/home/home1/in3.png" alt=""></a>
									<a href="#"><img class="grow" src="images/home/home1/in4.png" alt=""></a>
									<a href="#"><img class="grow" src="images/home/home1/in5.png" alt=""></a>
									<a href="#"><img class="grow" src="images/home/home1/in6.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="footer-box">
								<h2 class="title24 white">Contact Us</h2>
								<div class="contact-footer">
									<p class="desc silver"><span class="color"><i class="fa fa-home" aria-hidden="true"></i></span>Our business address is 1063 Freelon Street, San Francisco</p>
									<p class="desc silver"><span class="color"><i class="fa fa-mobile" aria-hidden="true"></i></span>+ 020.566.6666</p>
									<p class="desc silver"><span class="color"><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#" class="silver">support@vtheme.com</a></p>
									<p class="desc silver none-padding">For Product Registration and general enquires please <a href="#" class="color">contact us</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="social-payment">
						<div class="row">
							<div class="col-md-6 col-sm06 col-xs-12">
								<ul class="list-inline-block text-left">
									<li><h2 class="title24 white">Follow us</h2></li>
									<li>
										<div class="social-network">
											<a href="#" class="float-shadow"><img src="images/icon/icon-fb.png" alt="" /></a>
											<a href="#" class="float-shadow"><img src="images/icon/icon-tw.png" alt="" /></a>
											<a href="#" class="float-shadow"><img src="images/icon/icon-ig.png" alt="" /></a>
											<a href="#" class="float-shadow"><img src="images/icon/icon-gp.png" alt="" /></a>
											<a href="#" class="float-shadow"><img src="images/icon/icon-pt.png" alt="" /></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-sm06 col-xs-12">
								<ul class="list-inline-block text-right">
									<li><h2 class="title24 white">Payment Method</h2></li>
									<li>
										<div class="payment-method">
											<a href="#" class="wobble-top"><img src="images/icon/pay1.png" alt=""></a>
											<a href="#" class="wobble-top"><img src="images/icon/pay2.png" alt=""></a>
											<a href="#" class="wobble-top"><img src="images/icon/pay3.png" alt=""></a>
											<a href="#" class="wobble-top"><img src="images/icon/pay4.png" alt=""></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Main Footer -->
			<div class="bottom-fotter">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<p class="copyright silver text-left">Copyright © 2017 Fruit Store - All Rights Reserved.</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<ul class="text-right list-inline-block term-policy">
								<li><a href="#" class="color">Privacy Policy</a></li>
								<li><a href="#" class="color">Term and Conditions</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>